@font-face {
    font-family: 'priceDown';
    src: url(../../assets/fonts/pricedown/pricedown\ bl.ttf);
    font-weight: bold;
    font-style: bold;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.container div{
    margin: 20px;
}

.aboutMe{
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.aboutMe img{
    width: 15%;
}

.landingButton {
    background: #e62bda7a;
    background-image: -webkit-linear-gradient(top, #e62bda60, #4412a16c);
    background-image: -moz-linear-gradient(top, #e62bda, #4412a1);
    background-image: -ms-linear-gradient(top, #e62bda, #4412a1);
    background-image: -o-linear-gradient(top, #e62bda, #4412a1);
    background-image: linear-gradient(to bottom, #e62bda, #4412a1);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    text-shadow: 0px 2px 0px #666666;
    -webkit-box-shadow: 0px 4px 12px #666666;
    -moz-box-shadow: 0px 4px 12px #666666;
    box-shadow: 0px 4px 12px #666666;
    font-family: priceDown;
    color: #ffffff;
    font-size: 50px;
    padding: 2px 41px 2px 41px;
    text-decoration: none;
    border: 5px solid black;
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
  }
  
  .landingButton:hover {
    background: #f2f4f5;
    text-decoration: none;
    color:black;
    transform: scale3d(1.5, 1.5, 0.3);
        -webkit-transform: scale3d(1.5, 1.5, 0.3);
        -moz-transform: scale3d(1.5, 1.5, 0.3);
  }

.socialNetworks {
    display: inline-flex;
}
.socialNetworks a{
    font-family: priceDown;
    color: white;
    font-size: 30px;
    padding: 10px;
    text-decoration: none;
}

.socialNetworks a:hover{
color: rgb(47, 204, 243);
}

@media screen and (max-width: 750px) {
    .container{
        width: 750px;
        height: 100%;
    }
    .textPresentation {
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .textPresentation img{
        width: 50%;
    }
}