
.container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap:50px
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}