@font-face {
    font-family: 'priceDown';
    src: url(../../assets/fonts/pricedown/pricedown\ bl.ttf);
    font-weight: bold;
    font-style: bold;
}

.container{
    display: flex;
    gap:20px;
}

.container input{
    height: 35px;
    width: 405px;
    border-radius: 10px;
    border: 3px solid black;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
}

.container button{
    padding: 5px 25px 5px 25px;
    border-radius: 10px;
    border:transparent;
    cursor:pointer;
    font-family: 'priceDown';
    font-size: 25px;
    color:white;
    background-color: black;
}

.container button:hover{
    color: black;
    background-color: white;
    border: 3px solid black;
}