
.container{
    width: 80%;
    height: 600px;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(137, 43, 226, 0.596);
    position: fixed;
}

.buttonClose{
    display: inline;
    position: absolute;
    left: 95%;
    bottom: 92%;
    background: transparent;
    border: transparent;
    cursor: pointer
}

.image{
    border: 1px solid white;
    height: 100%;
    width: 50%;
    cursor: pointer;
}


.disabled{
    display: none;
}

.icon{
    width: 50px;
    height: 50px;
    color: whitesmoke
}

.icon:hover{
    color:black
}