@font-face {
    font-family: 'Futura Bold' ;
    src: url(../../assets/fonts/Futura\ Bold/Futura-Bold.otf);
    font-weight: bold;
    font-style: bold;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:20px;
    padding: 10px;
    border: transparent;
    font-family: 'Futura Bold';
    font-size: 19px;
}

.container select{
    font-family: 'Futura Bold';
    font-size: 16px;
    border-radius: 5px;
    border:transparent;
    padding: 5px;
    text-align: center;
    cursor:pointer;
    color: white;
    background-color: black;
}

.container button{
    padding: 8px 15px 8px 15px;
    border-radius: 10px;
    border:transparent;
    cursor:pointer;
    font-family: 'Futura Bold';
    font-size: 16px;
    color:white;
    background-color: black;
}

.container button:hover{
    color: black;
    background-color: white;
    border: 3px solid black;
}